<div class="container mt-2">
  <div class="alert alert-primary" role="alert">
    Quantity of Spell Cards => {{store.spellCards()}}
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Card Name</th>
        <th scope="col">Card Type</th>
      </tr>
    </thead>
    <tbody>
      @for (card of store.cards(); track $index) {
        <tr>
          <td>{{card.name}}</td>
          <td>{{card.type}}</td>
        </tr>
      }
    </tbody>
  </table>
  <div class="mt-3 d-flex justify-content-center">
    <button type="button" (click)="lastPage()" class="btn btn-secondary btn-sm" [disabled]="this.page() === 0">last</button>
    <span class="px-2">-{{this.page()}}-</span>
    <button type="button" class="btn btn-primary btn-sm" (click)="nextPage()">next</button>
  </div>
</div>



